<MudGrid Class="mt-a">
    <MudItem xs="12">
        <MudPaper Class="d-flex justify-center" Elevation="5" Height="850px" Style="background-image: url('./asset/img/full_stack.jpg'); background-size: 100% 100%;">
            <div class="align-self-center">
                <div class="d-block d-flex justify-center">
                    <MudImage Fluid="true" ObjectFit="ObjectFit.Cover" Src="@($"{ApiEndPoints.ServerBaseUrl}/{AvatarPath}")" Height="200" Width="200" Class="rounded-circle" />
                </div>
                <MudText Typo="Typo.h4" Align="Align.Center" Class="text-white mt-5">
                    Hi! I'm a DotNet developer.
                </MudText>
            </div>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" Style="margin-top:-100px" Class="d-flex justify-center">
        <MudFab Class="" Color="Color.Secondary" StartIcon="@Icons.Filled.KeyboardArrowDown" Link="#about" />
    </MudItem>
</MudGrid>

@code
{
    [Parameter]
    public string AvatarPath { get; set; }
}