<!-- ABOUT -->
<div class="arlo_tm_about" id="about">
    <div class="container">
        <div class="arlo_tm_main_title">
            <span>Biography</span>
            <h3>About Me</h3>
        </div>
        <div class="about_inner">
            <div class="left">
                <div class="about_image_wrap parallax" data-relative-input="true">
                    <div class="image layer" data-depth="0.1">
                        <img src="Arlo/img/ratios/550x650.jpg" alt="" />
                        <div class="inner" data-img-url="Arlo/img/about/1.jpg"></div>
                    </div>
                    <div class="border layer" data-depth="0.2">
                        <img src="Arlo/img/ratios/550x650.jpg" alt="" />
                        <div class="inner"></div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="about_title">
                    <h3>I'm Albert Walkers and <span class="arlo_tm_animation_text_word"></span></h3>
                </div>
                <div class="text">
                    <p>Hi! My name is <span>Albert Walkers</span>. I am a Web Developer, and I'm very passionate and dedicated to my work. With 20 years experience as a professional Web developer, I have acquired the skills and knowledge necessary to make your project a success.</p>
                </div>
                <div class="about_short_contact_wrap">
                    <ul>
                        <li>
                            <img class="svg" src="Arlo/img/svg/gift.svg" alt="" />
                            <span><label>Birthday:</label> 01.07.1990</span>
                        </li>
                        <li>
                            <img class="svg" src="Arlo/img/svg/calendar-4.svg" alt="" />
                            <span><label>Age:</label> 30</span>
                        </li>
                        <li>
                            <img class="svg" src="Arlo/img/svg/location-1.svg" alt="" />
                            <span><label>Location:</label> <a class="href_location" href="#">44 Place, Plano, USA</a></span>
                        </li>
                        <li>
                            <img class="svg" src="Arlo/img/svg/game-controller-2.svg" alt="" />
                            <span><label>Interests:</label> Playstation, Reading</span>
                        </li>
                        <li>
                            <img class="svg" src="Arlo/img/svg/study-5.svg" alt="" />
                            <span><label>Study:</label> <a class="href_location" href="#"> Univercity of Chicago</a></span>
                        </li>
                        <li>
                            <img class="svg" src="Arlo/img/svg/degree-1.svg" alt="" />
                            <span><label>Degree:</label> Master</span>
                        </li>
                        <li>
                            <img class="svg" src="Arlo/img/svg/message-3.svg" alt="" />
                            <span><label>Mail:</label> <a href="mailto:example@gmail.com">mymail&#64;gmail.com</a></span>
                        </li>
                        <li>
                            <img class="svg" src="Arlo/img/svg/call-2.svg" alt="" />
                            <span><label>Phone:</label> <a href="tel:+77 022 177 05 05">+77 022 177 05 05</a></span>
                        </li>
                    </ul>
                </div>
                <div class="arlo_tm_button">
                    <a href="Arlo/img/resume/resume.jpg" download><span>Download CV</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /ABOUT -->