<!-- CONTACT -->
<div class="arlo_tm_section" id="contact">
    <div class="arlo_tm_contact">
        <div class="container">
            <div class="contact_inner">
                <div class="arlo_tm_main_title">
                    <span>Contact</span>
                    <h3>Get in Touch</h3>
                </div>
                <div class="desc">
                    <p class="wow txt" data-splitting>Please fill out the form on this section to contact with me. Or call between 9:00 a.m. and 8:00 p.m. ET, Monday through Friday</p>
                </div>
                <div class="wrapper">
                    <div class="left wow fadeInLeft" data-wow-duration="1.5s">
                        <div class="fields">
                            <form action="/" method="post" class="contact_form" id="contact_form">
                                <div class="returnmessage" data-success="Your message has been received, We will contact you soon."></div>
                                <div class="empty_notice"><span>Please Fill Required Fields</span></div>
                                <div class="first">
                                    <ul>
                                        <li>
                                            <input id="name" type="text" placeholder="Name" autocomplete="off">
                                        </li>
                                        <li>
                                            <input id="email" type="text" placeholder="Email" autocomplete="off">
                                        </li>
                                    </ul>
                                </div>
                                <div class="last">
                                    <textarea id="message" placeholder="Message"></textarea>
                                </div>
                                <div class="arlo_tm_button" data-color="dark">
                                    <a id="send_message" href="#">Send Message</a>
                                </div>

                                <!-- If you want change mail address to yours, just open "modal" folder >> contact.php and go to line 4 and change detail to yours.  -->

                            </form>
                        </div>
                    </div>
                    <div class="right wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">
                        <div class="map_wrap">
                            <div class="map" id="ieatmaps"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /CONTACT -->