<!-- COPYRIGHT -->
<div class="arlo_tm_section">
    <div class="arlo_tm_copyright">
        <div class="container">
            <div class="inner">
                <div class="copy wow fadeInLeft" data-wow-duration="1.5s">
                    <p>&copy; Copyright 2019-2021. All rights are reserved.</p>
                </div>
                <div class="social wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">
                    <ul>
                        <li><a href="#"><img class="svg" src="Arlo/img/svg/social/facebook.svg" alt="" /></a></li>
                        <li><a href="#"><img class="svg" src="Arlo/img/svg/social/twitter.svg" alt="" /></a></li>
                        <li><a href="#"><img class="svg" src="Arlo/img/svg/social/behance.svg" alt="" /></a></li>
                        <li><a href="#"><img class="svg" src="Arlo/img/svg/social/dribbble.svg" alt="" /></a></li>
                        <li><a href="#"><img class="svg" src="Arlo/img/svg/social/tik-tok.svg" alt="" /></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /COPYRIGHT -->