<!-- COUNTER -->
<div class="arlo_tm_section">
    <div class="arlo_tm_counter_section">
        <div class="container">
            <div class="counter_inner">
                <ul class="wow fadeInLeft" data-wow-duration="1.5s">
                    <li>
                        <div class="list_inner">
                            <h3 class="arlo_tm_counter" data-from="0" data-to="555" data-speed="2000">0</h3>
                            <span>Happy Clients</span>
                        </div>
                    </li>
                    <li>
                        <div class="list_inner">
                            <h3 class="arlo_tm_counter" data-from="0" data-to="222" data-speed="2000">0</h3>
                            <span>Projects Finished</span>
                        </div>
                    </li>
                    <li>
                        <div class="list_inner">
                            <h3 class="arlo_tm_counter" data-from="0" data-to="444" data-speed="2000">0</h3>
                            <span>Awards Won</span>
                        </div>
                    </li>
                    <li>
                        <div class="list_inner">
                            <h3 class="arlo_tm_counter" data-from="0" data-to="777" data-speed="2000">0</h3>
                            <span>Drinked Pepsi</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /COUNTER -->