<!-- HERO -->
<div class="arlo_tm_hero" id="home">
    <div class="background">
        <div class="image ripple" id="ripple"></div>
    </div>
    <div class="content">
        <div class="image_wrap">
            <div class="main" data-img-url="Arlo/img/about/avatar.jpg"></div>
        </div>
        <div class="name_holder">
            <h3>Albert <span>Walkers</span></h3>
        </div>
        <div class="text_typing">
            <p>I'm a <span class="arlo_tm_animation_text_word"></span></p>
        </div>
    </div>
    <div class="arlo_tm_arrow_wrap bounce anchor">
        <a href="#about"><i class="xcon-angle-double-down"></i></a>
    </div>
</div>
<!-- /HERO -->