<!-- MODALBOX NEWS -->
<div class="arlo_tm_modalbox_news">
    <div class="box_inner">
        <div class="close">
            <a href="#"><img class="svg" src="Arlo/img/svg/cancel.svg" alt="" /></a>
        </div>
        <div class="description_wrap">
        </div>
    </div>
</div>
<!-- /MODALBOX NEWS -->
