<!-- PORTFOLIO -->
<div class="arlo_tm_section" id="portfolio">
    <div class="arlo_tm_portfolio">
        <div class="container">
            <div class="arlo_tm_main_title">
                <span>Portfolio</span>
                <h3>Featured Works</h3>
            </div>
            <div class="portfolio_inner">
                <div class="arlo_tm_portfolio_titles"></div>
                <div class="portfolio_filter">
                    <ul>
                        <li><a href="#" class="current" data-filter="*">All</a></li>
                        <li><a href="#" data-filter=".design">Design</a></li>
                        <li><a href="#" data-filter=".branding">Branding</a></li>
                        <li><a href="#" data-filter=".photography">Photography</a></li>
                    </ul>
                </div>
                <div class="portfolio_list">
                    <ul class="gallery_zoom">
                        <li class="photography">
                            <div class="inner">
                                <div class="entry arlo_tm_portfolio_animation_wrap" data-title="Sweet Fruit" data-category="Photography">
                                    <a class="zoom" href="Arlo/img/portfolio/1.jpg">
                                        <img src="Arlo/img/ratios/ratio-1-1.jpg" alt="" />
                                        <div class="main_image" data-img-url="Arlo/img/portfolio/1.jpg"></div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="branding">
                            <div class="inner">
                                <div class="entry arlo_tm_portfolio_animation_wrap" data-title="Good Present" data-category="Branding">
                                    <a class="popup-youtube" href="https://www.youtube.com/watch?v=ICr_bOuM9Zo">
                                        <img src="Arlo/img/ratios/ratio-1-1.jpg" alt="" />
                                        <div class="main_image" data-img-url="Arlo/img/portfolio/2.jpg"></div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="design">
                            <div class="inner">
                                <div class="entry arlo_tm_portfolio_animation_wrap" data-title="Ice Cream" data-category="Photography">
                                    <a class="zoom" href="Arlo/img/portfolio/3.jpg">
                                        <img src="Arlo/img/ratios/ratio-1-1.jpg" alt="" />
                                        <div class="main_image" data-img-url="Arlo/img/portfolio/3.jpg"></div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="photography">
                            <div class="inner">
                                <div class="entry arlo_tm_portfolio_animation_wrap" data-title="Black Coffee" data-category="Photography">
                                    <a class="zoom" href="Arlo/img/portfolio/4.jpg">
                                        <img src="Arlo/img/ratios/ratio-1-1.jpg" alt="" />
                                        <div class="main_image" data-img-url="Arlo/img/portfolio/4.jpg"></div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="branding">
                            <div class="inner">
                                <div class="entry arlo_tm_portfolio_animation_wrap" data-title="Blue Lemon" data-category="Branding">
                                    <a class="popup-youtube" href="https://www.youtube.com/watch?v=ICr_bOuM9Zo">
                                        <img src="Arlo/img/ratios/ratio-1-1.jpg" alt="" />
                                        <div class="main_image" data-img-url="Arlo/img/portfolio/5.jpg"></div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="design">
                            <div class="inner">
                                <div class="entry arlo_tm_portfolio_animation_wrap" data-title="Sweet Cherry" data-category="Photography">
                                    <a class="zoom" href="Arlo/img/portfolio/6.jpg">
                                        <img src="Arlo/img/ratios/ratio-1-1.jpg" alt="" />
                                        <div class="main_image" data-img-url="Arlo/img/portfolio/6.jpg"></div>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /PORTFOLIO -->