<MudGrid id="skills" Class="mt-5">
    <MudItem xs="12">
        <MudPaper Elevation="5" Height="300" Class="pa-5">
            <MudGrid>

                @foreach (var item in SkillList)
                {
                    <MudItem md="6" sm="12" xs="12">
                        <div class="row">
                            <div class="col-6">
                                <MudText Typo="Typo.h6">@item.Name</MudText>
                            </div>
                            <div class="col-6">
                                <MudText Typo="Typo.h6" Class="text-end">@(item.ScorePercentage*100)%</MudText>
                            </div>
                            <div class="col-12">
                                <MudProgressLinear Color="Color.Primary" Rounded="true" Size="Size.Medium" Value="Decimal.ToDouble(item.ScorePercentage*100)" />
                            </div>
                        </div>
                    </MudItem>
                }

            </MudGrid>
        </MudPaper>
    </MudItem>
</MudGrid>

@code
{
    [Parameter]
    public List<SkillDto> SkillList { get; set; }
}